@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="big">
    <h1 class="login-title">@ViewData["Title"]</h1>
    <div class="login-container">
        <div >
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" ></div>
                    <div class="email-input">
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" class="email"/>
                        <span asp-validation-for="Input.Email" ></span>
                    </div>
                    <div class="password-input">
                        <input asp-for="Input.Password"  autocomplete="current-password" aria-required="true" placeholder="Password" class="password"/>
                        <span asp-validation-for="Input.Password" ></span>
                    </div>
                    <div>
                        <div class="remember-me">
                            <label asp-for="Input.RememberMe" >
                                <input  asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit">LogIn</button>
                    </div>
                    <div class="create-account-main">
                        <p > 
                            <p class="not-a-member">
                                 Not a member?
                            </p>
                            <a class="create-account" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
.big{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:100%;
}

.login-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color:white;
}

.email, .password{
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
        background-color: rgb(255 255 255 / 48%);
    margin-bottom: 10px;
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    }

#login-submit {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
}

#login-submit:hover {
    background-color: lightgray;
}

.create-account{
    text-decoration:none;
    color:white;
}

.create-account:hover{
    color:lightgoldenrodyellow;
}

.remember-me{
    margin:8px 0 0 0;
}

#Input_Email-error, #Input_Password-error {
    color:mediumvioletred;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size:17px;
    margin-bottom:10px;
    position: absolute;
    width: 300px;
    margin-top: -13px;
}

.email-input, .password-input{
    margin:8px 0;
    padding:10px 0;
}

.create-account-main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}

.not-a-member{
    font-weight:bold;
    margin:auto;
        padding: 15px 10px;
}

.create-account{
    color:white;
}

.remember-me{
    font-weight:bold;
}

#registerForm {
    position: relative;
}
</style>