@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="big">
    <h1 class="register-title">@ViewData["Title"]</h1>
    <div >
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" ></div>
            <div class="email-input">
                <input asp-for="Input.Email"  autocomplete="username" aria-required="true" placeholder="Email" class="email"/>
                <span asp-validation-for="Input.Email" ></span>
            </div>
            <div class="password-input">
                <input asp-for="Input.Password"  autocomplete="new-password" aria-required="true" placeholder="Password" class="password"/>
                <span asp-validation-for="Input.Password" ></span>
            </div class="confirm-password-input">
            <div class="confirm-password-input">
                <input asp-for="Input.ConfirmPassword"  autocomplete="new-password" aria-required="true" placeholder="Confirm Password" class="confirm-password"/>
                <span asp-validation-for="Input.ConfirmPassword" ></span>
            </div>
            <button id="registerSubmit" type="submit" >Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



<style>
.big{
    /*position: relative;*/
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:100%;
}

.register-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color:white;
}

.email, .password, .confirm-password{
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 48%);
    margin-bottom: 10px;
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    }

#registersubmit {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
}

#registersubmit:hover {
    background-color: lightgray;
}

#Input_ConfirmPassword-error,#Input_Email-error, .field-validation-error{
    color:mediumvioletred;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction:row;
    font-size:15px;
    margin-bottom:5px;
    position:absolute;
    width: 300px;
}

#Input_Email-error{
    margin-top:20px;
}

#Input_ConfirmPassword-error{
        margin-top: 47px;
}

#Input_Password-error{
    margin-top:-8px
}

.email-input, .password-input, .confirm-password-input{
    margin:16px 0;
    padding:10px 0;
}

#registerForm{
    position:relative;
}


</style>
